<!DOCTYPE html>
<html>
<head>
    <title>Edit Package</title>
</head>
<body>

<h2>✏️ Edit Package</h2>

<form method="post" action="{{ url_for('update_package', id=package.id) }}">
    Place:<br>
    <input type="text" name="place" value="{{ package.place }}" required><br><br>

    Price:<br>
    <input type="text" name="price" value="{{ package.price }}" required><br><br>

    <button type="submit">Update</button>
</form>

<br>
<a href="{{ url_for('admin') }}">Back to Admin</a>

</body>
</html>
