<!DOCTYPE html>
<html>
<head>
<title>Aakash Travels</title>
<style>
body { font-family:Arial; background:#f4f6f8; text-align:center; }
h1 { background:#007bff; color:white; padding:15px; }

.card {
    background:white;
    width:300px;
    margin:20px auto;
    padding:15px;
    border-radius:10px;
}

.btn {
    background:#ff5722;
    color:white;
    padding:8px;
    text-decoration:none;
    border-radius:5px;
}
</style>
</head>
<body>

<h1>Aakash Travels</h1>

<a href="{{ url_for('login') }}">Login</a> |
<a href="{{ url_for('register') }}">Register</a> |
<a href="{{ url_for('logout') }}">Logout</a>

<h2>Packages</h2>

{% for p in packages %}
    <p>{{ p['place'] }} - ₹{{ p['price'] }}</p>
    <a href="{{ url_for('payment', id=p['id']) }}">Book</a>
{% endfor %}

</body>
</html>
