<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body { text-align:center; font-family:Arial; }
form { margin-top:50px; }
input { padding:8px; margin:5px; }
button {
    background:#007bff;
    color:white;
    padding:10px;
    border:none;
    border-radius:5px;
}
</style>
</head>
<body>

<h2>Login</h2>
<form method="post">
<input type="email" name="email" placeholder="Email" required><br>
<input type="password" name="password" placeholder="Password" required><br>
<button>Login</button>
</form>
</body>
</html>
